

html, body{
  height: 100%;
  margin: 0;
  background-color: #dbdbdb;
  transition: backgorund-color 1s linear;
}

.red {
  background: -webkit-linear-gradient(top, rgba(180,60,50,1) 0%,rgba(219,219,219,1) 50%,rgba(219,219,219,1) 100%);
}

.blue {
  background: -webkit-linear-gradient(top, rgba(74,193,192,1) 0%,rgba(219,219,219,1) 50%,rgba(219,219,219,1) 100%);
}

.yellow {
  background: -webkit-linear-gradient(top, rgba(234,184,64,1) 0%,rgba(219,219,219,1) 50%,rgba(219,219,219,1) 100%);
}

.purple {
  background: -webkit-linear-gradient(top, rgba(118,46,173,1) 0%,rgba(219,219,219,1) 50%,rgba(219,219,219,1) 100%);
}

:focus {
  -webkit-focus-ring-color: none !important;
  outline-color: none;
}

.top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #232c35 url('../images/bg-texture.png') repeat fixed;
  color: white;
  display: flex;
  z-index: 1000;
  text-align: right;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.75);
}



.headerText {
  float: right;
  margin: auto 20px;
  position:absolute;
}

.logout {
  text-align: center;
  padding: 14px 20px;
  width: 150px;
  right: 0;
  top:0;
  display: inline-block;
  position: fixed;
  border-left: 2px solid grey;
  color: white;
}

.admin {
  position: fixed;
  right: 150px;
}

.admin button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.admin button:hover {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.admin button:focus {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.admin button:active {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}



/*modal*/
.modal {
 margin:auto;
}

.modal-content {
  margin-right: 0;
  width: 100%;
}


.modal-dialog {
  margin-left:10%;
  width:80%;
}

.modal-header {
  background-color: #4CAF50;
  box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.5);
}

.modal-title {
  color: white;
  text-shadow: 0 1px 4px rgba(0, 0, 0, .75);
}

.modalTable th, .modalTable td {
  border-right: 1px solid grey;
}

.mac-table {
  border: 1px inset lightgray;
  overflow-y: scroll;
}

.mac-table th {
  background: -webkit-linear-gradient(top,#fff 0,#e0e0e0 50%,#fff 100%);
  border-bottom: 1px solid black;
  color: black;
  text-shadow: 0 -1px 4px rgba(0, 0, 0, 0.5);;
  padding-left: 25px;
}

.mac-table td {
  padding: 5px 15px 5px 15px;
}

.mac-table tr:nth-child(even) {
  background-color: #dedede;
}

.mac-table tr:nth-child(odd) {
  background-color: white;
}


.subnav {
  height: 52px;
  width: 100%;
  box-shadow: 0 5px 2px -2px rgba(0,0,0,.5);
  border-bottom: 1px solid darkgrey;
  background-color: rgba(0,0,0,0);
    /*border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;*/

}

.subheading {
  text-align: center;
  color: white;
  width: 25%;
  float: left;
  height: 52px;
  vertical-align: middle;
  padding-top: 20px;
  border-right: 2px groove #dbdbdb;
  text-shadow: 0 0 5px rgba(0,0,0,.75);
  background: -webkit-linear-gradient(top, rgba(43,50,59,1) 0%,rgba(43,50,59,1) 1%,rgba(89,89,89,1) 13%,rgba(43,50,59,1) 16%,rgba(36,44,53,1) 24%,rgba(71,71,71,1) 39%,rgba(102,102,102,1) 66%,rgba(102,102,102,1) 67%,rgba(102,102,102,0.6) 85%,rgba(102,102,102,0.1) 90%,rgba(102,102,102,1) 100%); /* Chrome10-25,Safari5.1-6 */
  transition: color .5s ease-out, border-bottom .5s, text-shadow .5s;
}



.subheading h6 {
  margin: auto;
  font-size: 15px;
}

.subheading:hover {
  cursor:pointer;
}


.messageHead:before {
 background: #661406;
}

.calendarHead:before {
 background: #4AC1C0;
}

.choresHead:before {
 background: #ED9512;
}

.groceryHead:before {
 background: #8506E5;
}






.subnav .message-select {
  background: #661406;
}

.subnav .calendar-select {
  background: #4AC1C0;
}

.subnav .chores-select {
  background: #ED9512;
}

.subnav .grocery-select {
  background: #8506E5 ;
}

.messages {
  height: 825px;
}

.messageBox {
  border: 1px solid #f2f2f2;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #f0f0f0;
  box-shadow: -3px 7px 9px rgba(0,0,0,.25);
}

.messageContainer {
  padding-left: 25px;
  padding-right: 25px;
  overflow-y: scroll;
  height: 525px;
  -webkit-mask-image: -webkit-gradient(linear, left 80%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  padding-bottom: 20%;
  padding-top: 2.5%;
}

.messagesTitle {
height: 5px;
}

.message-modal .modal-header {
 background-color: #661406;
 color: white;
}

.message-modal .modal-content {
  height: 375px;
  width: auto;
  min-width: 400px;
}

.message-modal-button {
  text-align: center;
  padding-top: 20px;
  border-top: 2px inset rgba(84,64,42,.15);
}

.message-modal-button button {
  background-color: #661406;
  color: white;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
  height: 45px;
  width: 25%;
  min-width: 200px;
}

.message-modal-button button:hover {
  color: white;
  background-color: #9e220f;

}


.messageForm {
  height: 260px;
  position: absolute;
  bottom: 15px;
  width: 100%;
  margin: auto;
  padding-left: 30px;
}

.messageForm label {
  display: block;
}

.newmessageTitle {
  width: 80%;
}

.messageTitle {
  width: 100%;
  margin-right: 0;
  padding-right: 15px;
}

.messageForm .textbox {
  height: 75px;
  max-height: 75px;
  width: 80%;
}

.messageForm .submit {
  display: block;
  margin-top: 10px;
  width: 25%;
  background-color: #661406;
  color: white;
  text-shadow: 0 0 4px rgba(0,0,0, .75);
}

.messageForm .submit:hover {
  background-color: #844237;
}

.messageTitle p {
  font-size: 12px;
  color: darkgrey;
  display: inline;
}

.messageTitle strong {
  color: black;
}

.messageTitle span {
  font-weight: bolder;
  color: #661406;
  font-size: 20px;
  margin-bottom: 5px;
  display: block;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
}

.messageTitle .remove {
  float:right;
}

.messageTitle .remove span {
  color: lightgrey;
  font-size: 12px;
  font-weight: lighter;
}

.messageTitle .remove span:hover {
  color: #661406;
  cursor: pointer;
}

.messageContent p {
  padding-right: 30px;
}

.chores {
  height: 560px;
  width: 100%;
  padding: 25px;
}

.chore-box {
  background-color: #F0F0F0;
  height: 100%;
  padding: 0;
  box-shadow: -5px 10px 13px rgba(0,0,0,.5);
  border-radius: 15px;
}


.chore-title {
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.5);
  height: 60px;
  margin-bottom: 20px;
  color: white;
  background-color: #ed9512;
  text-shadow: -1px 0 4px rgba(0, 0, 0, 0.5);;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.chore-title h2 {
  margin: 0;
  display: inline-block;
}

.chores .btn-info {
  margin: 10px auto 0 auto;
  display: block;
  width: 20%;
  min-width: 150px;
}

.chore-list {
  height: 375px;
  border: 1px solid black;
  margin-left: 20px;
  margin-right: 20px;
  background-color: white;
  border: 1px inset lightgray;
  overflow-y: scroll;
}

.chore-list th {
  height: 40px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px solid black;
  border-right: 1px solid grey;
}

.chore-list tr {
  height: 35px;
}

.chore-list td {
  border-right: 1px inset grey;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.chore-list tr td:first-child {
  text-align: left !important;
}

.chore-list tr:nth-child(even) {
 background-color: #ffe396;
}

.chore-list tr:nth-child(odd) {
 background-color: #fffbf4;
}

.chore-list td:last-child {
  text-align: center;
}

.chore-list button {
  background-color: green;
  border-radius: 5px;
  border: none;
  color: white;
}

.chore-spacer {
  border-right: none;
}

.chore-list .complete {
  color: #545454 !important;
  background-color: lightgray !important;
  font-style: italic;
}

.chore-list .complete button {
  border: none;
  background-color: #D3D3D3;
  cursor: default;
  color: #545454;
}

/*chore modal*/
.chores .modal-header {
  background-color: #ed9512;
}

.chores .modal-content {
  width: 30%;
  min-width: 250px;
  margin: auto;
}

.chores label {
  display: block;
  margin-bottom: 0;
  margin-top: 15px;
  margin-left: 20px;
}

.chores input {
  display: block;
  width: 80%;
  margin: 15px auto 15px auto;
}

.chores select {
  display: block;
  width: 80%;
  margin: 15px auto 15px auto;
}

.chores .btn-submit {
  color: white;
  margin-top: 20px;
}

footer {
  bottom: 0;
  right: 0;
  width:100%;
  background-color: #222;
  color: white;
  height: 35px;
}

footer p {
float: right;
}

.view {
  height: 100%;
  width: 100%;
  margin-top: 60px;
  overflow-y: auto;
}

.middle {
  height: 900px;
  margin-bottom: -35px;
  /*just build stuff*/
  /*background-color: #f4f4f4;
  border-left: 1px solid black;*/
  padding: 0;
}

.middle .ng-enter {
  opacity: 0;
  animation: slideInRight .5s;
  animation-delay: .7s;
}

.middle .ng-leave {
  animation: slideOutLeft .5s;
}

.floatbox {
  min-height: 250px;
  max-width: 400px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.75);
  margin: 15px auto 25px auto;
  padding: 0 0 10px 0;
}

.floatbox .title {
  text-align: center;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.5);
  color: white;
  text-shadow: 0 0 2px rgba(0,0,0,.5);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.whoIsHome h5{
  display: inline-block;
  text-align: center;
  margin-left: 11%;
}

.whoIsHome button {
  height: 23px;
  width: 25px;
  text-align: center;
  margin-right: 15px;
  margin-top: 3px;
  font-size: 20px;
  padding: 0 0 5px 0;
  background-color: #661406;
  border: none;
  float: right;
}

.whoIsHome button:focus {
  border: none;
}

.whoIsHome .title {
  background-color: #661406;
  text-align: center;
}



#fitbit-title {
  background-color: #4AC1C0;
}

.fitbit {
  background-color: white;
}

.fitbit .table {
  background-color: rgba(60, 60, 60, 0.6);
  text-align: center;
  vertical-align: middle;
}

.fitbit-button {
  background-color: #4AC1C0;
  margin:auto;
  margin-top: 90px;
}

.table {
  height: 228px;
  border: 1px inset lightgray;
  margin: 12.5px;
  width: auto;
  border-radius: 5px;
  overflow-y: scroll;
  position: relative;
}

.table tr {
  border: 1px solid #dedede;
  border-collapse: collapse;
  padding: 5px;
  width: inherit;
  height: 25px;
  }

table, .table td {
  width: 100%;
}

.table td {
  text-align: center;
  font-weight: bold;
}

.table tr:nth-child(odd) {
  background-color: #dedede;
}

.table tr:nth-child(even) {
  background-color: white;
}

.table tr:first-child, {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


.table tr:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#table-load {
  background-color: rgba(100, 100, 100, .5);
  position: absolute;
  z-index: 10;
  top: 0px;
  left: 0px;
  width:100%;
  margin: 0;
  text-align: center;
}

.spin-container {
  padding-top: 60px;
}

#table-load span {
  font-size: 75px;
  animation: spin 1s infinite ease-out;
  color: rgba(75, 75, 75, .8);
  text-shadow: 0 4px 3px rgba(15, 15, 15, 0.25);;
}



#table-error {
  background-color: rgba(240, 100, 100, .5);
  color: white;
  position: absolute;
  z-index: 10;
  top: 0px;
  left: 0px;
  width:100%;
  margin: 0;
  text-align: center;
}

#table-error p {
  font-size: 20px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  padding-top: 5px;
  color: black;
}

#table-error p:last-child {
  font-size: 14px;
  padding-top: 30px;
}

#table-error span {
  color: red;
  font-size: 45px;
  padding-top: 25px;
}

.calendar {
  margin: auto;
  padding-top: 25px;
  text-align: center;
}

.calendar iframe {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: -5px 10px 13px rgba(0,0,0,.5);
}



/*animations*/

@keyframes slideInRight {
    from    { transform:translateX(40%);
              opacity: 0; }
    to      { transform: translateX(0);
              opacity: 1; }
}

@keyframes slideOutLeft {
  from    { transform:translateX(0);
            opacity: 1; }
  to      { transform:translateX(-2%);
            opacity: 0; }
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}


/*hover*/
/* Bounce To Bottom */
.hvr-bounce-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
  color: white;
}
.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
