hi

<!-- <div class="groceries">


<div class="grocery-box">
  <div class="grocery-title">
      <h2>Groceries</h2>
  </div>

  <div class="grocery-list">
    <table>
    <th>Task</th> <th>Date Added</th> <th>Added by</th> <th>Assigned To:</th> <th>Completed By:</th> <th>Date Completed:</th> <th>Done?</th>
    <tr ng-repeat="item in groceryList track by $index" ng-class="checkComplete(item)" >
      <td>{{chore.task}}</td>
      <td>{{chore.date_added | date:"mediumDate"}}</td>
      <td>{{chore.display_name}}</td>
      <td>{{chore.assigned_to}}</td>
      <td>{{chore.completed_by}}</td>
      <td>{{chore.date_completed | date:"mediumDate"}}</td>
      <td><button ng-click="complete(chore)">{{chore.completeText}}</button></td>
    </tr>
  </table>
  </div>
  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#choreModal">Add New Grocery Item</button>
</div>


</div> -->
