<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Blondegalow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    <script src="vendor/angular/angular.min.js"></script>
    <script src="assets/scripts/client.min.js"></script>
  </head>
  <body>

  <header class="top">This is the header</header>

  <div class="spacer"></div>

  <div class="view container-fluid">
      <div class="col-md-4 column left">

seriously
      </div>

      <div class="col-md-4 column middle">

    i hate css

      </div>

      <div class="col-md-4 column right">
      ok now

      </div>










  </div> <!-- ngView -->

  <footer class="clearfix footer">
    this is the footer
  </footer>

  </body>
</html>
